<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h1 class="m-0 font-weight-bold">Vacations</h1>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="tbl_vacations" width="100%" cellspacing="0">
          <thead class="bg-dark text-white rounded">
            <tr>
              <th>User</th>
              <th>Initial date first period</th>
              <th>Finality date first period</th>
              <th>Initial date second period</th>
              <th>Finality date second period</th>

              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @vacations.each do |vacation| %>
              <tr>
                <td><%= vacation.user.name %></td>
                <td><%= vacation.initial_date_first_period %></td>
                <td><%= vacation.finality_date_first_period %></td>
                <td><%= vacation.initial_date_second_period %></td>
                <td><%= vacation.finality_date_second_period %></td>
                <td><%= link_to 'Show', vacation %></td>
                <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
                <td><%= link_to 'Destroy', vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'New Vacation', new_vacation_path %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#tbl_vacations").DataTable({
    columnDefs: [{
      targets: [5,6,7],
      orderable: false
    }]
  });
  });
</script>
