<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion p-2" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <div class="">
    <%= link_to root_path, class: 'h4 text-warning text-center' do %>
      <div >
        <%= image_tag current_user.business + '.jpg', class: "w-75" %>
      </div>
    <% end %>
  </div>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Heading -->
  <div class="sidebar-heading">
    Crear
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-file-alt"></i>
      <span>Cartas</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Personal activo</h6>
        <a class="collapse-item" href="#">Cambio jornada</a>
        <a class="collapse-item" href="#">Cancelacion dafuturos</a>
        <a class="collapse-item" href="#">Compromiso</a>
        <a class="collapse-item" href="#">Compromiso de <br/>
          cesantias trabajador </a>
        <a class="collapse-item" href="#">Proceso encargo</a>
        <a class="collapse-item" href="#">Retiro de cesantias</a>
        <h6 class="collapse-header">Rersonal retirado</h6>
        <a class="collapse-item" href="#">Retiro cesantias inactivos</a>
      </div>
    </div>
  </li>
  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseforms" aria-expanded="true" aria-controls="collapseforms">
      <i class="far fa-file-alt"></i>
      <span>Formatos</span>
    </a>
    <div id="collapseforms" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Gestion humana</h6>
        <%= link_to 'Actualización de datos', "#", class: "collapse-item" %>
        <%= link_to 'Descuento nómina', "#", class: "collapse-item" %>
        <%= link_to 'Desvinculacion', "#", class: "collapse-item" %>
        <%= link_to 'Formato de permiso', "#", class: "collapse-item" %>
        <%= link_to 'Novedades', "#", class: "collapse-item" %>
        <%= link_to 'Terminacion sin justa causa', "#", class: "collapse-item" %>
        <%= link_to 'Vacaciones', "#", class: "collapse-item" %>
        <h6 class="collapse-header">Sg-sst</h6>
        <%= link_to 'Accidente de trabajo', "#", class: "collapse-item" %>
        <%= link_to 'Compromiso médico', "#", class: "collapse-item" %>
        <%= link_to 'Incidentes', "#", class: "collapse-item" %>
        <%= link_to 'Licencia luto', "#", class: "collapse-item" %>
        <%= link_to 'Licencia paternidad / maternidad', "#", class: "collapse-item" %>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Administrador
  </div>
  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Configuracion</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <% if current_user.can?(LongportRrhh::CREATE_USER) %>
          <%= link_to 'Agregar usuario', new_profile_path, class: "collapse-item" %>
        <% end %>
        <%= link_to 'Agregar rol', new_rol_path, class: "collapse-item" %>
        <%= link_to 'Agregar permiso', new_permission_path, class: "collapse-item" %>
        <%= link_to 'Agregar empresa', new_business_path, class: "collapse-item" %>
      </div>
    </div>
  </li>
  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tables" aria-expanded="true" aria-controls="tables">
      <i class="fas fa-fw fa-table"></i>
      <span>Datos</span>
    </a>
    <div id="tables" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to 'Empresas', businesses_path, class: "collapse-item" %>
        <%= link_to 'Usuarios', profiles_path, class: "collapse-item" %>
        <%= link_to 'Permisos', permissions_path, class: "collapse-item" %>
        <%= link_to 'Roles', rols_path, class: "collapse-item" %>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Sidebar Toggler (Sidebar) -->
  <!--<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>-->
  <!-- Divider -->
  <!-- Nav Item - Pages Collapse Menu -->
  <!--<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="login.html">Login</a>
        <a class="collapse-item" href="register.html">Register</a>
        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item active" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>-->
</ul>
<!-- End of Sidebar -->
