<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold">Rols</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
          <thead class="bg-dark text-white rounded">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @rols.each do |rol| %>
              <tr>
                <td><%= rol.code %></td>
                <td><%= rol.name %></td>
                <td><%= rol.description %></td>
                <td class="text-warning" >
                  <i class="fas fa-list-alt"></i>
                  <%= link_to 'Show', rol, class: "text-warning" %>
                </td>
                <td class="text-warning" >
                  <i class="fas fa-pen"></i>
                  <%= link_to 'Edit', edit_rol_path(rol), class: "text-warning" %>
                </td>
                <td class="text-warning" >
                  <i class="fas fa-trash-alt"></i>
                  <%= link_to 'Destroy', rol, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-warning" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
