<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-10 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-3">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-4">
                <%= form_with(model: permission, local: true, class: "") do |form| %>
                  <% if permission.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>
                      <ul>
                        <% permission.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="field">
                    <%= form.label :code %>
                    <%= form.text_field :code, id: :permission_code, class: "form-control form-control-user" %>
                  </div>
                  <div class="field">
                    <%= form.label :name %>
                    <%= form.text_field :name, id: :permission_name, class: "form-control form-control-user" %>
                  </div>
                  <div class="field">
                    <%= form.label :description %>
                    <%= form.text_field :description, id: :permission_description, class: "form-control form-control-user" %>
                  </div>
                  <div class="field">
                    <%= form.label :apply %>
                    <%= form.check_box :apply, id: :permission_apply, class: "" %>
                  </div>
                  <div class="actions">
                    <%= form.submit class:"btn btn-dark btn-user btn-block my-3" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
