<p id="notice"><%= notice %></p>

<h1>Disclaimers</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>City</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Creator</th>
      <th>Buiness</th>
      <th>Aceepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disclaimers.each do |disclaimer| %>
      <tr>
        <td><%= disclaimer.employee %></td>
        <td><%= disclaimer.city %></td>
        <td><%= disclaimer.start_at %></td>
        <td><%= disclaimer.end_at %></td>
        <td><%= disclaimer.creator %></td>
        <td><%= disclaimer.buiness %></td>
        <td><%= disclaimer.aceepted %></td>
        <td><%= link_to 'Show', disclaimer %></td>
        <td><%= link_to 'Edit', edit_disclaimer_path(disclaimer) %></td>
        <td><%= link_to 'Destroy', disclaimer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disclaimer', new_disclaimer_path %>
