<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @disclaimer.employee.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @disclaimer.city.code %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @disclaimer.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @disclaimer.end_at %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @disclaimer.creator.name %>
</p>

<p>
  <strong>Business:</strong>
  <%= @disclaimer.business.name %>
</p>

<p>
  <strong>Aceepted:</strong>
  <%= @disclaimer.aceepted %>
</p>

<%= link_to 'Edit', edit_disclaimer_path(@disclaimer) %> |
<%= link_to 'Back', disclaimers_path %>
